<!-- Responsive top menu -->
<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item sidebar-toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>