<!-- I use this to just show a DateTime, remove/replace as you wish -->
<h1 class="ui header datetime">Fri Jan 27 2017</h1>

<div class="ui icon message">
    <i class="empty heart icon"></i>
    <div class="content">
        <div class="header">
            Welcome to the admin theme!
        </div>
        <p>You'll find a lot of common views here. For requests, just tweet.</p>
    </div>
</div>

<div class="ui three column row">
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui secondary olive green inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>

                    <div class="ui two mini statistics">
                        <div class="statistic">
                            <div class="value">
                                120
                            </div>
                            <div class="label">
                                iPhone
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                700
                            </div>
                            <div class="label">
                                Android
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <p>Footer</p>
            </div>
        </div>
    </div>
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui teal inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>

                <div class="ui center animated list">
                    <a class="item">
                        <i class="add circle icon"></i>
                        <div class="content">
                            <div class="description">10% from last week</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="minus circle icon"></i>
                        <div class="content">
                            <div class="description">5% from 2 weeks ago</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui segment">
                <p>Footer</p>
            </div>
        </div>
    </div>
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui secondary blue inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <p>Footer</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="top-table column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui segment">
                <table class="ui very basic table">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Item 1</td>
                            <td>$20</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Item 2</td>
                            <td>$22</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Item 3</td>
                            <td>$15</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Item 4</td>
                            <td>$10</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Item 5</td>
                            <td>$15</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="doughnut-chart column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui segment">
                <canvas id="doughnuts_are_tasty" width="274" height="179" style="width: 274px; height: 179px;float:left;"></canvas>
                <div id="dashboard_legend"></div>
            </div>
        </div>
    </div>
</div>
<div class="ui three column row">
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui violet inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui grey inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui pink inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>
</div>
<script src="/js/lib/Chart.min.js" type="text/javascript"></script>