<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Products</h2>

    <div class="right menu">
        <a class="ui item" href="products.html">
            Inventory
        </a>
        <a class="ui active item" href="">
            Gallery
        </a>
    </div>
</div>

<div class="ui divided product items">
    <div class="item">
        <div class="ui small image">
            <a href="http://www.amazon.com/gp/product/0393089037?ie=UTF8&camp=1789&creativeASIN=0393089037&linkCode=xm2&tag=personalwe03c-20"><img src="http://ecx.images-amazon.com/images/I/4162kFSAHPL._SX399_BO1,204,203,200_.jpg"></a>
        </div>
        <div class="content">
            <div class="header">Item 1</div>
            <div class="meta">
                <span class="price">$24</span>
            </div>
            <div class="ui star rating" data-rating="4"></div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <a href="http://www.amazon.com/gp/product/1781315388?ie=UTF8&camp=1789&creativeASIN=1781315388&linkCode=xm2&tag=personalwe03c-20"><img src="http://ecx.images-amazon.com/images/I/51c0sSqolYL._SX430_BO1,204,203,200_.jpg"></a>
        </div>
        <div class="content">
            <div class="header">Item 2</div>
            <div class="meta">
                <span class="price">$25</span>
            </div>
            <div class="ui star rating" data-rating="3"></div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <a href="http://www.amazon.com/gp/product/0316378216?ie=UTF8&camp=1789&creativeASIN=0316378216&linkCode=xm2&tag=personalwe03c-20"><img src="http://ecx.images-amazon.com/images/I/51-RcNhEZRL._SY498_BO1,204,203,200_.jpg"></a>
        </div>
        <div class="content">
            <div class="header">Item 3</div>
            <div class="meta">
                <span class="price">$27</span>
            </div>
            <div class="ui star rating" data-rating="4"></div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <a href="http://www.amazon.com/gp/product/0316229970?ie=UTF8&camp=1789&creativeASIN=0316229970&linkCode=xm2&tag=personalwe03c-20"><img src="http://ecx.images-amazon.com/images/I/51UUcLtkQJL._SX335_BO1,204,203,200_.jpg"></a>
        </div>
        <div class="content">
            <div class="header">Item 4</div>
            <div class="meta">
                <span class="price">$27</span>
            </div>
            <div class="ui star rating" data-rating="4"></div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <a href="http://www.amazon.com/gp/product/3899555600?ie=UTF8&camp=1789&creativeASIN=3899555600&linkCode=xm2&tag=personalwe03c-20"><img src="http://ecx.images-amazon.com/images/I/41wLk-vR5vL._SX375_BO1,204,203,200_.jpg"></a>
        </div>
        <div class="content">
            <div class="header">Item 5</div>
            <div class="meta">
                <span class="price">$41</span>
            </div>
            <div class="ui star rating" data-rating="4"></div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
</div>

<br>