<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Sales</h2>

    <div class="right menu">
        <a class="ui active item">
            Reports
        </a>
        <a class="ui disabled item">
            Transactions
        </a>
    </div>
</div>

<div class="four wide sales column">
    <div class="ui secondary vertical menu">
        <a class="active item">
            Sales Report #1
        </a>
        <a class="item">
            Sales Report #2
        </a>
        <a class="item">
            Sales Report #3
        </a>
        <a class="disabled item">
            Sales Report #4
        </a>
    </div>
</div>

<div class="twelve wide sales column">
    <canvas id="sales_chart" width="654" height="255"></canvas>

    <table class="ui table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Joined</th>
                <th>E-mail</th>
                <th>Shipped</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer #1</td>
                <td>September 14, 2013</td>
                <td>customer1@gmail.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Customer #2</td>
                <td>January 11, 2014</td>
                <td>customer2@gmail.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Customer #3</td>
                <td>May 11, 2014</td>
                <td>customer3@gmail.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Customer #4</td>
                <td>September 14, 2013</td>
                <td>customer4@gmail.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Customer #5</td>
                <td>September 14, 2013</td>
                <td>customer5@gmail.com</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/lib/Chart.min.js" type="text/javascript"></script>